<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gif for currencies</title>
</head>
<body>
<div style="align-content: center;">
    <form method="get">
        <label>Select currency</label>
        <select name="code">
            <option th:each="currency : ${currencies}"
                    th:text="${currency}"></option>
        </select>
        <button type="submit">Get gif</button>
    </form>
    <img th:if="${url!=null}" th:src="${url}">
</div>
</body>
</html>